span {
    border-radius: 20px;
    padding: 5px 20px;
    border-width: 2px;
    border-style: solid;
    font-weight: bold;
}

.normal {
    color: #A8A77A;
}
.fighting {
    color: #C22E28;
}
.flying {
    color: #A98FF3;
}
.poison {
    color: #A33EA1;
}
.ground {
    color: #E2BF65;
}
.rock {
    color: #B6A136;
}
.bug {
    color: #A6B91A;
}
.ghost {
    color: #735797;
}
.fire {
    color: #EE8130;
}
.water {
    color: #6390F0;
}
.grass {
    color: #7AC74C;
}
.electric {
    color: #F7D02C;
}
.psychic {
    color: #F95587;
}
.ice {
    color: #96D9D6;
}
.dragon {
    color: #6F35FC;
}
.dark {
    color: #705746;
}
.fairy {
    color: #D685AD;
}
.steel {
    color: #B7B7CE;
}