<header>
    <div>
        <p-button routerLink="/home"
                  icon="pi pi-home"
                  label="Accueil"
                  [link]="true"></p-button>
    </div>
    <div class="text-center">
        <h1>Pokemon</h1>
    </div>
    <div class="text-right">
        <p-button routerLink="/profile"
                  icon="pi pi-user"
                  label="Khun LY"
                  [link]="true"></p-button>
    </div>
</header>
<main>
    <router-outlet></router-outlet>
</main>
<footer>
    &copy; TF - 2024
</footer>

<p-toast position="bottom-left"></p-toast>